{% extends '../base.html' %}
{% load static %}

{% block content %}
<br>
<!-- ======= Hero Section ======= -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body overflow-auto" style="height: 47rem;">
                        <form class="d-flex">
                            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-danger" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </form>
                        <hr>
                        <div class="d-flex" id="custom-hover-section">
                            <i class="bi bi-chat-left me-2"></i>
                            <p>this is a test</p>
        
                            <a href="#" class="me-4">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                        <div class="d-flex" id="custom-hover-section">
                            <i class="bi bi-chat-left me-2"></i>
                            <p>this is a test</p>
        
                            <a href="#" class="me-4">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                        <div class="d-flex" id="custom-hover-section">
                            <i class="bi bi-chat-left me-2"></i>
                            <p>this is a test</p>
        
                            <a href="#" class="me-4">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                        <div class="d-flex" id="custom-hover-section">
                            <i class="bi bi-chat-left me-2"></i>
                            <p>this is a test</p>
        
                            <a href="#" class="me-4">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-body overflow-auto" style="height: 44rem;">
                        <img style="width: 36px; height: auto; padding: 3px;"
                        src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="rounded-circle" alt="">
                        <b>chat AI</b>
                        <hr>
                        <div style="margin-left: 40px;">
                            <p>k;dlfjaksdjfkasdjf;aldjfsdjskldfhjsdhfsdfjklsdfjsdfh</p>
                            <p>k;dlfjaksdjfkasdjf;aldjfsdjskldfhjsdhfsdfjklsdfjsdfh</p>
                            <p>k;dlfjaksdjfkasdjf;aldjfsdjskldfhjsdhfsdfjklsdfjsdfh</p>
                        </div>
                    </div>
                    <form class="d-flex" style="padding: 10px;">
                        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="fa-regular fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body overflow-auto" style="height: 44rem;" >
                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>
                
                            <!-- Reply Message -->
                            <div class="qweqwe reply-message">
                                <div style="margin-right: 10px; background-color: rgba(128, 0, 128, 0.4);" class="text-bubble">
                                    <p style="color: black;">This is a reply to the original message. Inverted layout...</p>
                                </div>
                                <div class="icon-wrapper">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                            </div>
                
                            <!-- Reply Message -->
                            <div class="qweqwe reply-message">
                                <div style="margin-right: 10px; background-color: rgba(128, 0, 128, 0.4);" class="text-bubble">
                                    <p style="color: black;">This is a reply to the original message. Inverted layout...</p>
                                </div>
                                <div class="icon-wrapper">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                            </div>

                            <!-- Reply Message -->
                            <div class="qweqwe reply-message">
                                <div style="margin-right: 10px; background-color: rgba(128, 0, 128, 0.4);" class="text-bubble">
                                    <p style="color: black;">This is a reply to the original message. Inverted layout...</p>
                                </div>
                                <div class="icon-wrapper">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                            </div>

                            <!-- Reply Message -->
                            <div class="qweqwe reply-message">
                                <div style="margin-right: 10px; background-color: rgba(128, 0, 128, 0.4);" class="text-bubble">
                                    <p style="color: black;">This is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layoutThis is a reply to the original message. Inverted layout...</p>
                                </div>
                                <div class="icon-wrapper">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>

                            <!-- Original Message -->
                            <div class="qweqwe original-message">
                                <div style="margin-right: 10px;" class="icon-wrapper">
                                    <i class="fa-solid fa-utensils"></i>
                                </div>
                                <div class="text-bubble">
                                    <p style="color: black;">This is the original message. Inverted layout...</p>
                                </div>
                            </div>
                            
                        
                    </div>
                    <form class="d-flex" style="padding: 10px;">
                        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="fa-regular fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}